[Desktop Entry]
Type=Application
Name=PastelFM
GenericName=File Manager
Comment=A modern pastel file manager with SSH and Samba support
Exec=pastelfm %f
Icon=system-file-manager
Terminal=false
Categories=Utility;Core;FileManager;System;
MimeType=inode/directory;
Keywords=files;manager;explorer;ssh;sftp;samba;smb;
StartupNotify=true
