@import "mocha.css";

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    /*background-color: rgba(43, 48, 59, 0.5); */
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -1px @text;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: @base;
    box-shadow: inset 0 -1px @green;
}

#workspaces button.focused {
    background-color: @base;
    box-shadow: inset 0 -1px @orange;
}

#workspaces button.urgent {
    background-color: @base;
    box-shadow: inset 0 -1px @red;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -1px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-external_ip {
    padding: 0 10px;
    color: @text;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @base;
}

#battery {
    background-color: @base;
    color: @text;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @base;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @base;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @red;
    color: @text;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: @text;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: @base;
}

label:focus {
    background-color: @base;
}

#cpu {
    background-color: #2ecc71;
    color: @base;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @base;
}

#network.disconnected {
    color: @red;
}

#network.wifi {
    color: @green;
}

#network.ethernet {
    color: @green;
}

#network.link {
    color: @sky;
}

#custom-external_ip {
    background-color: @base;
    color: @peach;
}

#pulseaudio {
    background-color: @base;
    color: @text;
}

#pulseaudio.muted {
    background-color: @red;
    color: @text;
}

#wireplumber {
    background-color: @base;
    color: @text;
}

#wireplumber.muted {
    background-color: @red;
    color: @text;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

