@import "pastel.css";

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 0px;
}

#window {
  background-color: @base;
  /* background-color: transparent; */
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 6px;
  padding: 5px;
  margin-top: 2px;
  margin-left: 5px;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -1px @text;
}

#workspaces {
}

#workspaces button {
  padding: 0 5px;
  background-color: @crust;
  color: @text;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: @crust;
  box-shadow: inset 0 -1px @green;
}

#workspaces button.focused {
  background-color: @crust;
  box-shadow: inset 0 -1px @orange;
}

#workspaces button.urgent {
  background-color: @crust;
  box-shadow: inset 0 -1px @red;
}

#window,
#workspaces {
  /* margin: 0 4px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -1px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#bluetooth,
#custom-external_ip {
  background-color: @crust;
  padding: 0 10px;
  color: @text;
  /*margin: 5px 5px 5px 0px;*/
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 6px;
}


#clock {
  margin-right: 2px;
}

#battery, #battery.good {
  color: @text;
}

#battery.charging, #battery.plugged {
  color: @green;
  box-shadow: inset 0 -1px @green;
  border-radius: 6px 6px 0px 0px;
}

#battery.warning {
  color: @yellow;
  box-shadow: inset 0 -1px @yellow;
  border-radius: 6px 6px 0px 0px;
}

#battery.critical {
  color: @red;
  box-shadow: inset 0 -1px @red;
  border-radius: 6px 6px 0px 0px;
}

@keyframes blink {
  to {
    /* background-color: @text; */
    /* color: @base; */
    box-shadow: none;
  }
}

#battery.critical:not(.charging) {
  /* background-color: @red; */
  box-shadow: inset 0 -1px @red;
  color: @text;
  border-radius: 6px 6px 0px 0px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth {
}

#bluetooth.on {
  /* color: @sky; */
  color: @blue;
}

#bluetooth.connected {
  color: @green;
}

#bluetooth.off,
#bluetooth.disabled {
  color: @red;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#power-profiles-daemon.balanced {
  /* color: @sapphire; */
  color: @blue;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

label:focus {
  background-color: @crust;
}

#cpu {
  color: @base;
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
  color: @red;
}

#network.wifi {
  color: @green;
}

#network.ethernet {
  color: @green;
}

#network.link {
  /* color: @sky; */
  color: @blue;
}

#network.module.speed {
  color: @blue;
}

#custom-external_ip {
  /* color: @peach; */
  color: @orange;
}

#pulseaudio {
  color: @text;
}

#pulseaudio.muted {
  /* background-color: @red; */
  color: @text;
  box-shadow: inset 0 -1px @red;
  border-radius: 6px 6px 0px 0px;
}

#wireplumber {
  color: @text;
}

#wireplumber.muted {
  /* background-color: @red; */
  color: @text;
  box-shadow: inset 0 -1px @red;
  border-radius: 6px 6px 0px 0px;
}

#tray {
  box-shadow: inset 0 -1px @text;
  border-radius: 6px 6px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

